.header{
    height: 50px;
    display: flex;
    align-items: center;
    background-color:rgba(10, 26, 44, 0.93);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    /* width: 100px; */
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cfd1df;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-top: 0px;
}

.header__option__button{
    font-size: 13px;
    width: 60px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.dropbtn {
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      color: black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 .dropdown-content span {
    border-bottom: 1px solid rgb(6, 37, 85);
    width: 100%;
 }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    /* border: 1px solid rgb(6, 37, 85); */
    /* border-radius: 35px; */
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #d8d8d8}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #2b2b2b;
  }


.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

