.dashboard{
    background-color:rgba(250, 250, 250, 0.93);
    display: flex;
    padding: 0px;
    height: max-content;
}

.dashboard__left{
    background-color:rgba(10, 26, 44, 0.93);
    display: flex;
    width:150px;
    flex-direction: column;
    align-items:center;
    min-height: 1000px;
    width:16%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard__left__header{
    display: flex;
    margin-top: 10px;
    justify-content:space-between;

}

.dashboard__left__logo{
    width: 50px;
    object-fit: contain;
}

.dashboard__left__header > button{
    height:fit-content;
}

.dashboard__left > p{
    border-bottom: 1px solid lightgray;
}

.dashboard__left__operations > div{
    cursor: pointer;
    margin: 4px;
}

.dashboard__left__management > div{
    cursor: pointer;
    margin: 4px;
}


.dashboard__right{
    display: flex;
    flex-direction: column;
    width: 84%;
}